.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.saveButton {
    padding: 10px 20px;
    margin-top: 10px;
    background: #16a34a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li{
    list-style: none;
}